[[plugins]]
repo = 'Shougo/dein.vim'

# =============
# ==  color  ==
# =============
[[plugins]]
repo = 'cocopon/iceberg.vim'
hook_add = 'colorscheme iceberg'

# ================
# == StatusLine ==
# ================
[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = '''
  let g:lightline = {
  \ 'colorscheme': 'one',
  \ 'active': {
  \ 'left': [ ['mode', 'paste'], ['readonly', 'filepath', 'modified'] ]
  \ },
  \ 'component_function': {
  \ 'filepath': 'FilePath'
  \ }
  \ }

  function! FilePath()
  if winwidth(0) > 90
    return expand("%:s")
  else
    return expand("%:t")
  endif
  endfunction

  set noshowmode
'''

# ================
# ==  NERDTree  ==
# ================
[[plugins]]
repo = 'scrooloose/nerdtree'
hook_add = '''
  map <C-e> :NERDTreeToggle<CR>
  let g:NERDTreeShowHidden=1
'''

[[plugins]]
repo = 'Townk/vim-autoclose'

[[plugins]]
repo = 'bronson/vim-trailing-whitespace'

[[plugins]]
repo = 'Yggdroot/indentLine'

[[plugins]]
repo = 'elzr/vim-json'
hook_add = 'let g:vim_json_syntax_conceal = 0'

# ============
# == Github ==
# ============
[[plugins]]
repo = 'tpope/vim-fugitive'
[[plugins]]
repo = 'airblade/vim-gitgutter'
hook_add = '''
  set signcolumn=yes
  set updatetime=100
'''

# =========================
# == ctrl + - でコメント ==
# =========================
[[plugins]]
repo = 'tomtom/tcomment_vim'

# ===================
# == Window Resize ==
# ===================
[[plugins]]
repo = 'simeji/winresizer'
hook_add = '''
  let g:winresizer_start_key = '<C-T>'
'''

# ==================
# == 単語複数選択 ==
# ==================
[[plugins]]
repo = 'terryma/vim-multiple-cursors'

# ==========
# == 補完 ==
# ==========
[[plugins]]
repo = 'neoclide/coc.nvim'
rev = 'release'
# hook_add = 'source ../coc/coc-setting.vim'

# ===========
# ==  fzf  ==
# ===========
[[plugins]]
repo = 'junegunn/fzf'
build = './install --all'
[[plugins]]
repo = 'junegunn/fzf.vim'
